.banner-image {
  position: relative;
  background-image: url(../images/background.jpg);
  background-position: center;
  background-size: cover;
}
#userReviewModal {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  background-color: rgba(0, 0, 0, 0.75);
  z-index: 10;
}
.clickable { cursor: pointer; }
.em-top { margin-top: 1em; }
.en-top { margin-top: .5em; }
.em-bot { margin-bottom: 1em; }
.en-bot { margin-bottom: .5em; }
