.banner-image {
  position: relative;
  height: 200px;
  background-image: url(images/background.jpg);
  background-position: center;
  background-size: cover;
}
.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 0;
  background-color: rgba(198, 15, 18, 0.75);
  z-index: 0;
}
.logo {
  width: 6em;
  position: absolute;
}
.container { margin-top: 50px; }
.media img {
  width: 64px;
  height: 64px;
}
