.banner-image {
  position: relative;
  height: 200px;
  background-image: url(images/background.jpg);
  background-position: center;
  background-size: cover;
}
.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 0;
  background-color: rgba(198, 15, 18, 0.75);
  z-index: 0;
}
.logo {
  width: 6em;
  position: absolute;
}
.container { margin-top: 50px; }
.appetizer {
  position: relative;
  padding: .65em 1em;
  margin-bottom: 3px;
  border: 1px solid #ddd;
  border-radius: 5px;
}
.appetizer .picture {
  display: block;
  float: left;
  height: 5em;
  width: 5em;
  margin: .25em .5em;
  border-radius: 6px;
  overflow: hidden;
}
.picture > img {
  min-width: 5em;
  min-height: 5em;
  max-width: 6.75em;
  max-height: 6.75em;
}
.appetizer h4 {
  display: inline;
  margin-right: 1em;
}
.appetizer .gray { opacity: 0.3; }
.appetizer .author {
  float: right;
  font-weight: bold;
}
.appetizer .expand {
  float: right;
  color: white;
  background-color: #337ab7;
  border-radius: 2px;
}
.appetizer .expand:hover {
  color: white;
  text-decoration: none;
  background-color: #23527c;
}
